# Environment mode
# 'dev' = FTP cache enabled, model caps active, Shopify push capped
ENV=dev
# 'prod' = cache cleared each run, no caps, full pipeline
# ENV=prod


# in dev, pipeline automatically runs in startup
# RUN_ON_STARTUP=true

# Logging
LOG_LEVEL=debug
# LOG_LEVEL=info

# Cron FTP Schedule (Weekly, Monday at 03:00 am)
CRON_SCHEDULE=0 3 * * 1

# Cron Shopify Schedule (Weekly, Tuesday at 03:00 am)
SHOPIFY_PUSH_CRON=0 3 * * 2

# FTP connection
FTP_HOST=updateftp.duell.fi
FTP_USER=duellus
FTP_PASS=****
FTP_PORT=21
FTP_SECURE=false
FTP_REJECT_UNAUTHORIZED=true


# product cap. default: 50 during dev, 0 (no limit) during production
# set to 0 for no limit
PIPELINE_MODEL_LIMIT=5
# set to 0 for no limit
SHOPIFY_PUSH_MODEL_LIMIT=5



# PostgreSQL connection string (Railway)
# if env=dev
# this is the public db url from the staging env db in railway. 
DATABASE_PUBLIC_URL=****

# if env=prod
# this is the private db url from the production env in railway
# DATABASE_URL=****
# below is the public db url from the production env in railway. 
# this is needed to run the pipeline in prod from your local machine, as railway blocks calls from external IPs unless they come from a public url
# if env=prod, DATABASE_URL will always be picked over DATABASE_PUBLIC_URL. 
DATABASE_URL=****

# Shopify API config
SHOPIFY_STORE_DOMAIN=****
SHOPIFY_CLIENT_ID=****
SHOPIFY_SECRET=****
SHOPIFY_API_VERSION=2024-10
SHOPIFY_ADMIN_ACCESS_TOKEN=****
SHOPIFY_PUBLICATION_ID=****



# future Email notifications (via Resend)
EMAIL_ENABLED=false
# RESEND_API_KEY=****
# EMAIL_FROM=CBBC Pipeline <noreply@resend.dev>
# EMAIL_TO=
# EMAIL_ON_SUCCESS=true
# EMAIL_ON_FAILURE=true